html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: url('./img/background.jpg') no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: orange;
  min-height: 100%;
}
form {
  padding: 40px;
  margin-top: 40px;
}
form button, form h5 {
  margin: 20px 0;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: orange;
  box-shadow: none;
}